git+https://github.com/oda-hub/nb2workflow.git@handling-connectionError-download#egg=nb2workflow[service,rdf]
git+https://github.com/oda-hub/oda_api.git@master#egg=oda_api
git+https://github.com/oda-hub/dispatcher-app.git@better-handling-local-addresses#egg=cdci_data_analysis
