git+https://github.com/oda-hub/nb2workflow.git#egg=nb2workflow[service,rdf]
git+https://github.com/oda-hub/oda_api.git@encode-structured-param#egg=oda_api
git+https://github.com/oda-hub/dispatcher-app.git@structured-parameter-json#egg=cdci_data_analysis